header{
    background-color: #6f55fa;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}
aside{
    position: fixed;
    background-color: #798379;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    width: 220px;
}
aside p{
    font-size: 15px;
    color: #000000;
    font-style: italic;}

section{
    position: fixed;
    color: #000000;
    padding: 10px;
    left: 260px;
    border-radius: 5px;
    width: 1210px;
    height: 100%;
    border: 5px;
    border-style: solid;
    border-color: #6f55fa;
    overflow : scroll;
}
section img{
    width: 20%;
    height: 20%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 10%;
    background-color: #798379;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

